*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM sans";
    color: #1e0e62;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
$main_theme: #3ae2e2

